<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>
<body>
<h2>Добавить контакт</h2>

{% for e in form.non_field_errors %}
<div class="alert alert-danger">{{ e }}</div>
{% endfor %}

<form class="form-horizontal" method="post" action="/"> {% csrf_token %}
    <fieldset>
        {% for field in form %}

        <div class="form-group
        {% if field.errors %} has-error {% endif %}">
            <label class="control-label col-xs-4">{{ field.label }}:</label>
            <div class="controls col-xs-8">{{ field }}</div>
        </div>
        {% endfor %}
    </fieldset>

    <div class="form-actions col-xs-3">
        <button type="submit" class="btn btn-success">Сохранить</button>
    </div>

    <div class="form-actions col-xs-3 ">
        <button type="reset" class="btn btn-danger">Очистить</button>
    </div>

</form>


<!--
        <h2>Регистрация</h2>

        <form class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-xs-3" for="lastName">Фамилия:</label>
                <div class="col-xs-9">
                    <input type="text" class="form-control" id="lastName" placeholder="Введите фамилию">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-xs-3" for="firstName">Имя:</label>
                <div class="col-xs-9">
                    <input type="text" class="form-control" id="firstName" placeholder="Введите имя">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-xs-3" for="fatherName">Отчество:</label>
                <div class="col-xs-9">
                    <input type="text" class="form-control" id="fatherName" placeholder="Введите отчество">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-xs-3" for="inputEmail">Email:</label>
                <div class="col-xs-9">
                    <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-xs-3" for="phoneNumber">Телефон:</label>
                <div class="col-xs-9">
                    <input type="tel" class="form-control" id="phoneNumber" placeholder="Введите номер телефона">
                </div>
            </div>

            <br/>
            <div class="form-group">
                <div class="col-xs-offset-3 col-xs-9">
                    <input type="submit" class="btn btn-primary" value="Регистрация">
                    <input type="reset" class="btn btn-default" value="Очистить форму">
                </div>
            </div>
        </form> -->
</body>
</html>