<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Список контактов</h2>

    <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>ФИО</th>
                        <th>Телефон</th>
                        <th>E-mail</th>
                        <th>Дата рождения</th>
                    </tr>
                </thead>

                <tbody>

                    {% for contact in contacts %}
                    <tr>
                        <th>{{ contact.pk }}</th>
                        <th>{{ contact.last_name }} {{ contact.first_name }} {{ contact.middle_name }}</th>
                        <th>{{ contact.telephone }}</th>
                        <th>{{ contact.email }}</th>
                        <th>{{ contact.birthday }}</th>
                        <th>
                           <a methods="post" href="/update/{{ contact.id }}/">
                               <button type="submit" class="btn btn-default">Изменить</button></a>
                        </th>
                        <th>
                           <a methods="post" href="/del/{{ contact.id }}/">
                               <button type="submit" class="btn btn-danger">Удалить</button></a>
                        </th>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
</body>
</html>